<a href="https://colab.research.google.com/github/M-McKegney/ET5003_SEM1_2021-2/blob/MMcKegneyBranch/ET5003_Etivity2_MichaelMcKegney_20149743.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="https://drive.google.com/uc?export=view&id=1vK33e_EqaHgBHcbRV_m38hx6IkG0blK_" width="350"/>
</div> 

#**Artificial Intelligence - MSc**
##ET5003 - MACHINE LEARNING APPLICATIONS 

###Instructor: Enrique Naredo
###ET5003_Etivity-2

In [ ]:
#@title Current Date
Today = '2021-09-29' #@param {type:"date"}

In [ ]:
#@markdown ---
#@markdown ### Enter your details here:
Student_ID = "20149743" #@param {type:"string"}
Student_full_name = "Michael McKegney" #@param {type:"string"}
#@markdown ---

In [ ]:
#@title Notebook information
Notebook_type = 'Example' #@param ["Example", "Lab", "Practice", "Etivity", "Assignment", "Exam"]
Version = 'Draft' #@param ["Draft", "Final"] {type:"raw"}
Submission = False #@param {type:"boolean"}

# INTRODUCTION

**Piecewise regression**, extract from [Wikipedia](https://en.wikipedia.org/wiki/Segmented_regression):

Segmented regression, also known as piecewise regression or broken-stick regression, is a method in regression analysis in which the independent variable is partitioned into intervals and a separate line segment is fit to each interval. 

* Segmented regression analysis can also be performed on 
multivariate data by partitioning the various independent variables. 
* Segmented regression is useful when the independent variables, clustered into different groups, exhibit different relationships between the variables in these regions. 

* The boundaries between the segments are breakpoints.

* Segmented linear regression is segmented regression whereby the relations in the intervals are obtained by linear regression.

***The goal is to use advanced Machine Learning methods to predict House price.***

## Imports

In [ ]:
# Suppressing Warnings:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pymc3 as pm
import arviz as az
from sklearn.preprocessing import StandardScaler

In [ ]:
# to plot
import matplotlib.colors
from mpl_toolkits.mplot3d import Axes3D

# to generate classification, regression and clustering datasets
import sklearn.datasets as dt

# to create data frames
from pandas import DataFrame

# to generate data from an existing dataset
from sklearn.neighbors import KernelDensity
from sklearn.model_selection import GridSearchCV

In [ ]:
# Define the seed so that results can be reproduced
seed = 11
rand_state = 11

# Define the color maps for plots
color_map = plt.cm.get_cmap('RdYlBu')
color_map_discrete = matplotlib.colors.LinearSegmentedColormap.from_list("", ["red","cyan","magenta","blue"])

# DATASET

Extract from this [paper](https://ieeexplore.ieee.org/document/9300074):

* House prices are a significant impression of the economy, and its value ranges are of great concerns for the clients and property dealers. 

* Housing price escalate every year that eventually reinforced the need of strategy or technique that could predict house prices in future. 

* There are certain factors that influence house prices including physical conditions, locations, number of bedrooms and others.

1. [Download the dataset](https://github.com/UL-ET5003/ET5003_SEM1_2021-2/tree/main/Week-3). 

2. Upload the dataset into your folder.

The challenge is to predict the final price of each house.

## Read in the dataset

**Be careful with the 'Path' location shown below i.e. make sure it is pointing to where you store the data for Etivity 2!**

The following code is being used to determine if a Jupyter Notebook or Google Colab environment is being used to load the dataset.

The development work for this Etivity was done in Google Colab.

There are 3 files to account for:
*   house_train.csv
*   house_test.csv
*   true_price.csv

In [ ]:
# Checking if you are using Google Colab.

RunningInCOLAB = 'google.colab' in str(get_ipython())

if RunningInCOLAB:
    from google.colab import drive
    drive.mount('/content/drive')
    
    # paste the path here, keep quotation marks and the trailing slash
    Path = '/content/drive/MyDrive/UL_Colab_Files/ET5003/Etivity2/'
    
else:
    
    Path = './Etivity2/'

Mounted at /content/drive

Read in each ".csv" file into a Pandas dataframe and print the shape of the data.

In [ ]:
filename1 = Path + 'house_train.csv'
df_house_train = pd.read_csv(filename1)
print('House train data shape: ', df_house_train.shape)

filename2 = Path + 'house_test.csv'
df_house_test = pd.read_csv(filename2)
print('House test data shape: ', df_house_test.shape)

filename3 = Path + 'true_price.csv'
df_true_price = pd.read_csv(filename3)
print('True price data shape: ', df_true_price.shape)

House train data shape:  (2982, 17)
House test data shape:  (500, 16)
True price data shape:  (500, 2)

Check the initial rows and review some basic statistics for each dataframe.

**df_house_train details:**

In [ ]:
df_house_train.head()

     ad_id         area  ...  property_type  surface
0   996887  Portmarnock  ...            NaN      NaN
1   999327        Lucan  ...            NaN      NaN
2   999559  Rathfarnham  ...            NaN      NaN
3  9102986   Balbriggan  ...            NaN      NaN
4  9106028      Foxrock  ...            NaN      NaN

[5 rows x 17 columns]

In [ ]:
df_house_train.describe()

              ad_id    bathrooms  ...         price        surface
count  2.982000e+03  2931.000000  ...  2.892000e+03    2431.000000
mean   1.224065e+07     1.998635  ...  5.323536e+05     318.851787
std    5.793037e+05     1.291875  ...  5.678148e+05    4389.423136
min    9.968870e+05     0.000000  ...  1.999500e+04       3.400000
25%    1.226813e+07     1.000000  ...  2.800000e+05      74.100000
50%    1.237758e+07     2.000000  ...  3.800000e+05     100.000000
75%    1.240294e+07     3.000000  ...  5.750000e+05     142.000000
max    1.242836e+07    18.000000  ...  9.995000e+06  182108.539008

[8 rows x 8 columns]

**df_house_test details:**

In [ ]:
df_house_test.head()

      ad_id        area  bathrooms  ...  property_category  property_type surface
0  12373510    Skerries        2.0  ...               sale       bungalow   142.0
1  12422623       Lucan        2.0  ...               sale       terraced   114.0
2  12377408      Swords        3.0  ...               sale  semi-detached   172.0
3  12420093       Lucan        4.0  ...               sale  semi-detached   132.4
4  12417338  Clondalkin        1.0  ...               sale  semi-detached    88.0

[5 rows x 16 columns]

In [ ]:
df_house_test.describe()

              ad_id   bathrooms  ...  no_of_units      surface
count  5.000000e+02  500.000000  ...          0.0   500.000000
mean   1.231695e+07    1.994000  ...          NaN   156.007671
std    1.485832e+05    1.106532  ...          NaN   344.497362
min    1.130615e+07    0.000000  ...          NaN    33.500000
25%    1.228617e+07    1.000000  ...          NaN    72.375000
50%    1.237964e+07    2.000000  ...          NaN    98.000000
75%    1.240544e+07    3.000000  ...          NaN   138.935000
max    1.242809e+07    8.000000  ...          NaN  5746.536120

[8 rows x 7 columns]

**df_true_price details:**

In [ ]:
df_true_price.head()

         Id  Expected
0  12373510  875000.0
1  12422623  355000.0
2  12377408  440000.0
3  12420093  425000.0
4  12417338  265000.0

In [ ]:
df_true_price.describe()

                 Id      Expected
count  5.000000e+02  5.000000e+02
mean   1.231695e+07  5.810356e+05
std    1.485832e+05  6.009194e+05
min    1.130615e+07  8.500000e+04
25%    1.228617e+07  2.950000e+05
50%    1.237964e+07  4.250000e+05
75%    1.240544e+07  5.950000e+05
max    1.242809e+07  5.750000e+06

## Training & Test Data

In [ ]:
# split data into training and test
from sklearn.model_selection import train_test_split

# training: 70% (0.7), test: 30% (0.3) 
# you could try any other combination 
# but consider 50% of training as the low boundary
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)

NameError: ignored

### Train dataset

In [ ]:
# training dataset: 
training_file = syntPath+filename1
# test dataset: 
testing_file = syntPath+filename2
# cost dataset: 
cost_file = syntPath+filename3

In [ ]:
# show first data frame rows 
dftrain.head()

In [ ]:
# Generate descriptive statistics
dftrain.describe()

### Test dataset

In [ ]:
# show first data frame rows 
dftest.head()

In [ ]:
# Generate descriptive statistics
dftest.describe()

### Expected Cost dataset

In [ ]:
# Generate descriptive statistics
dfcost.describe()

# PIECEWISE REGRESSION

## Full Model

In [ ]:
# select some features columns just for the baseline model
# assume not all of the features are informative or useful
# in this exercise you could try all of them if possible

featrain = ['feature_1','feature_2','feature_3','cost']
# dropna: remove missing values
df_subset_train = dftrain[featrain].dropna(axis=0)

featest = ['feature_1','feature_2','feature_3']
df_subset_test  =  dftest[featest].dropna(axis=0)

# cost
df_cost = df_cost[df_cost.index.isin(df_subset_test.index)]

In [ ]:
# model
with pm.Model() as model:
    #prior over the parameters of linear regression
    alpha = pm.Normal('alpha', mu=0, sigma=30)
    #we have one beta for each column of Xn
    beta = pm.Normal('beta', mu=0, sigma=30, shape=Xn_train.shape[1])
    #prior over the variance of the noise
    sigma = pm.HalfCauchy('sigma_n', 5)
    #linear regression model in matrix form
    mu = alpha + pm.math.dot(beta, Xn_train.T)
    #likelihood, be sure that observed is a 1d vector
    like = pm.Normal('like', mu=mu, sigma=sigma, observed=yn_train[:,0])

In [ ]:
# prediction
ll=np.mean(posterior['alpha']) + np.dot(np.mean(posterior['beta'],axis=0), Xn_test.T)
y_pred_BLR = np.exp(yscaler.inverse_transform(ll.reshape(-1,1)))[:,0]
print("MAE = ",(np.mean(abs(y_pred_BLR - y_test))))
print("MAPE = ",(np.mean(abs(y_pred_BLR - y_test) / y_test)))

## Clustering

### Full Model

In [ ]:
# training gaussian mixture model 
from sklearn.mixture import GaussianMixture

gmm = GaussianMixture(n_components=4)

### Clusters

In [ ]:
# train clusters

In [ ]:
# test clusters

## Piecewise Model

In [ ]:
# model_0
with pm.Model() as model_0:
  # prior over the parameters of linear regression
  alpha = pm.Normal('alpha', mu=0, sigma=30)
  # we have a beta for each column of Xn0
  beta = pm.Normal('beta', mu=0, sigma=30, shape=Xn0.shape[1])
  # prior over the variance of the noise
  sigma = pm.HalfCauchy('sigma_n', 5)
  # linear regression relationship
  #linear regression model in matrix form
  mu = alpha + pm.math.dot(beta, Xn0.T)
  # likelihood, be sure that observed is a 1d vector
  like = pm.Normal('like', mu=mu, sigma=sigma, observed=yn0[:,0])

##Simulations

### Only Cluster 0

## Overall

## Test set performance

### PPC on the Test set

# SUMMARY